{% extends 'base.html' %}
{% load static %}

{% block title %}
Mentor
{% endblock %}

{% block nav-header %}
<ul class="list-unstyled home-header-nav__list">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    <li class="list_about">Mentor</li>
    <li><a href="{% url 'mentee' %}">Mentee</a></li>
    <li><a href="{% url 'author' %}">Author</a></li>
</ul>
{% endblock %}

{% block section %}
<div class="container">
    <div class="our-mentee">
        <h5>Our Mentor</h5>
    </div>
    {% for mentor in mentors %}
    <div class="row mentor">
        <div class="col-md-5 mentee">
            <img src="{{mentor.picture}}" alt="">
        </div>
        <div class="col-md-7 mentee-desc">
            <h4>{{mentor.nama}}</h4>
            <h5>{{mentor.pekerjaan}}</h5>
            <p>{{mentor.testimoni}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}